<% if current_user %>
  <h1><%= "Hello, #{current_user.email}" %></h1>
<% end %>
<p>Find me in app/views/pages/home.html.erb</p>
<% if user_signed_in? %>
  <%= button_to "Sign out", destroy_user_session_path, method: :destroy %>
  <% if current_user.avatar.attached? %>
    <%= image_tag(url_for(current_user.avatar)) %>
  <% end %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
  <p>You can test the API with following credentials.</p>

<div class="container mt-5">
    <%= @application.as_json %>
  <ul>
    <li><%= link_to "User" %> </li>
    <li><%= link_to "Complaints V1", api_v1_complaints_path %> </li>
    <li><%= link_to "Mobile V1", api_v1_mobile_complaints_path %> </li>
  </ul>
</div>
